.App {
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 200px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

.thedata-container {
  background: red;
  height: auto;
  padding: 50px 0 100px 0;
}

.yourData-header-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.yourData-tagline {
  margin: 0;
  padding: 0;
}

.yourData-headline {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  height: 300px;
}

.coding-challenge-txt {
  font-size: 3em;
  line-height: 1em;
}
